.body {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 100px;

	justify-content: center;

	width: inherit;
	align-items: center;
	width: 70%;
}

.body input {
	width: 30%;
	align-items: center;
	padding-top: 10px;
}

.body label {
	display: flex;
	width: 30%;
	align-items: flex-start;
	color: black;
	font-weight: bold;
	margin-top: 10px;
}

.design {
	width: 100vw;
	background: red;
	display: flex;
	justify-content: center;
}

.body button {
	height: 35px;
	font-weight: bold;
	width: 90px;
	border-radius: 25px;
}

.body button:hover {
	opacity: 0.7;
}
