.body {
	background: #E59866;
	height: 50vh;
	width: 45vw;
	position: absolute;
	right: 150px;
	top: 150px;
	text-align: center;
	box-shadow: 8px 7px 5px 0px rgba(68,53,53,0.75);
}

.btn {
	background: orange;
	cursor: pointer;
	font-weight: bold;
	color: white;
	height: 40px;
	border-radius: '12px';
}

.btn:hover {
	opacity: 0.7;
}

